// *************************************
//
//   #DEFAULTS
//
// *************************************

// These variables are TreeFramework defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$tree-base-font-family:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$tree-base-font-weight:        400 !default;
$tree-base-font-size:          16px !default;
$tree-base-line-height:        24px !default;

$tree-base-link-color:         #6c9b48 !default;
$tree-base-text-color:         #333 !default;
$tree-base-background-color:   #fff !default;





// Namespace.
//
// Would you like TreeFramework’ classes to be prepended with a namespace? If
// so, define it here.
$tree-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$tree-base-spacing-unit:           $tree-base-line-height;
$tree-base-spacing-unit--tiny:     round($tree-base-spacing-unit / 4);
$tree-base-spacing-unit--small:    round($tree-base-spacing-unit / 2);
$tree-base-spacing-unit--large:    round($tree-base-spacing-unit * 2);
$tree-base-spacing-unit--huge:     round($tree-base-spacing-unit * 4);
