///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are TreeFramework’ defaults; they should not be modified or
// adjusted, you should redfine the variables in your own overrides file and
// include it in your project before this file.





// High-level base settings.
$tree-base-font-family:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$tree-base-font-size:          16px !default;
$tree-base-line-height:        24px !default;

$tree-base-link-color:         #6c9b48 !default;
$tree-base-text-color:         #333 !default;
$tree-base-background-color:   #fff !default;





// Namespace.
//
// Would you like TreeFramework’ classes to be prepended with a namespace? If so,
// define it here.
$tree-namespace:               null !default;





// Headings.
//
// These font sizes, defined in pixels, will be converted into rems (with pixel
// fallbacks) by inuitcss.
$tree-heading-size-1:          36px !default;
$tree-heading-size-2:          24px !default;
$tree-heading-size-3:          21px !default;
$tree-heading-size-4:          18px !default;
$tree-heading-size-5:          16px !default;
$tree-heading-size-6:          14px !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$tree-base-spacing-unit:       $tree-base-line-height;
